<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    <main class = "container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1 d-flex justify-content-center">About</h1>
     <p class="d-flex justify-content-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio laboriosam eum eligendi veritatis iste, corporis quia ab similique. Natus provident cum asperiores fugit veritatis amet facilis quis vel libero accusantium.
            Tenetur voluptatibus voluptate consequuntur, repellat rem harum officia voluptates aspernatur nostrum? Deleniti voluptates corrupti, sed nulla laboriosam hic obcaecati animi saepe est nostrum vel nisi, debitis odit beatae earum inventore?
            Inventore vero delectus magnam commodi? Velit officiis molestiae ab ut odio excepturi dolores natus minima, adipisci aspernatur nesciunt temporibus, est sed reiciendis exercitationem accusantium praesentium doloribus rem sint aliquam blanditiis.
            Enim iure dignissimos ex ut unde autem dolorem magnam minus laboriosam cumque! Similique doloribus nihil deleniti, eius commodi adipisci magni odio aspernatur qui fuga nobis, at corrupti iste ratione nemo.
            Neque excepturi ab repudiandae quisquam officiis, dolores voluptatibus accusantium tempora enim vitae voluptates quis suscipit aliquid quos harum corrupti inventore facere quod minus est natus maxime. Soluta culpa numquam iure.
            Quibusdam, quae. Minima soluta doloribus exercitationem. Sed, illum quas asperiores fugiat iure illo possimus sit rem odit? Obcaecati quis aut hic laboriosam cum numquam unde! Deleniti doloremque iure consequatur fugit.
            Tempore eveniet quaerat voluptas sint ipsum, sapiente ipsam quae quam ab. Facilis sapiente reiciendis id nam nihil beatae saepe itaque nulla assumenda. Enim architecto cupiditate, et fuga deserunt natus nobis!
            Fugiat minima autem obcaecati, unde nesciunt aperiam ipsa distinctio saepe voluptatem molestias ut facilis quis a eligendi, reprehenderit repudiandae accusantium at laudantium vitae deleniti nihil officiis consequuntur! Officiis, expedita ab!
            Numquam aspernatur eveniet perferendis atque unde fuga ut. Voluptates itaque eos maxime, totam tenetur debitis in perferendis repudiandae consequatur omnis sint autem voluptate perspiciatis ad iste nisi, reiciendis excepturi et.
            Libero explicabo qui, ad veritatis, veniam quasi velit praesentium et ut hic similique temporibus voluptatem tempore ipsam consequatur doloribus dignissimos iste reiciendis? Consequatur optio laboriosam esse quis debitis explicabo unde.
     </p>
    </section>



    </main>
    <%- include ('partials/footer') %>

</body>
</html>